<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- filter标签用于配置一个filter过滤器 -->
    <filter>
        <!-- filter-name: 该标签用来配置filter过滤器的名称 -->
        <filter-name>AdminFilter</filter-name>
        <!-- filter-class: 用来配置过滤器的全类名, 就是说以后工作的目录. 到这里来寻找过滤器 -->
        <filter-class>com.atguigu.filter.AdminFilter</filter-class>

        <!-- 初始化参数是配置在filter标签中哦~ -->
        <!-- 一些初始化参数 -->
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>

        <!-- init-param可以配置多个 -->
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/book</param-value>
        </init-param>


    </filter>
    <!-- filter-mapping: 用来配置过滤器的拦截路径. 该过滤器工作的地方, 或者其作用的范围 -->
    <filter-mapping>
        <!-- filtered-name: 用来配置过滤器的名称, 一般和上面一样 -->
        <filter-name>AdminFilter</filter-name>
        <!-- url-pattern: 用来配置过滤器工作的地方. -->
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>



    <!-- 配置LoginServlet程序的xml信息 -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.atguigu.web.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>


    <!-- 为TestFilter1配置xml信息 -->
    <filter>
        <filter-name>TestFilter1</filter-name>
        <filter-class>com.atguigu.filter.TestFilter1</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TestFilter1</filter-name>
        <url-pattern>/pages/target.jsp</url-pattern>
        <!--
            /       这个斜杠: 代表的地址是 映射 到webapp目录. 即: http://ip:port/工程路径
        -->
    </filter-mapping>


    <!-- 为TestFilter2配置xml信息 -->
    <filter>
        <filter-name>TestFilter2</filter-name>
        <filter-class>com.atguigu.filter.TestFilter2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TestFilter2</filter-name>
        <url-pattern>/pages/target.jsp</url-pattern>
    </filter-mapping>


    <!-- 为TestFilter2配置xml信息 -->
    <filter>
        <filter-name>TestFilter3</filter-name>
        <filter-class>com.atguigu.filter.TestFilter3</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TestFilter3</filter-name>
        <!--
            注意, 后缀名匹配不需要 / 打头
        -->
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>





</web-app>
